body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #FF6F61, #FFD700); /* Gradient background using your brand colors */
}

.timer-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s ease-out; /* Add fade-in animation */
}

h1 {
    color: #333;
}

#timer {
    font-size: 3em;
    color: #e44d26; /* CookHunt brand color */
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #timer {
        font-size: 2em;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
